* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #1B1A17;
  margin: 0;
}
@media (max-width: 768px) {
  body {
    margin: 0;
    width: 100vh;
  }
}

#top-10 {
  background-color: #1B1A17;
}
#top-10 .header {
  display: flex;
  justify-content: space-around;
  margin: 28px 0px;
}
@media (max-width: 768px) {
  #top-10 .header {
    display: block;
    text-align: center;
  }
}
@media (max-width: 575px) {
  #top-10 .header {
    display: flex;
    justify-content: space-between;
  }
}
#top-10 .header-image {
  width: 39.8%;
  height: 42.3px;
}
@media (max-width: 768px) {
  #top-10 .header-image {
    width: 100vh;
  }
}
@media (max-width: 575px) {
  #top-10 .header-image {
    width: 40vh;
  }
}
#top-10 .header-image1 {
  height: 100%;
}
#top-10 .header-burger {
  display: none;
}
@media (max-width: 575px) {
  #top-10 .header-burger {
    display: block;
    padding-right: 36.5px;
    width: 7%;
    height: auto;
  }
}
#top-10 .header-txt {
  color: #F0E3CA;
  font-weight: 800;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: x-large;
}
@media (max-width: 768px) {
  #top-10 .header-link {
    display: flex;
    justify-content: space-evenly;
    margin-top: inherit;
  }
}
@media (max-width: 575px) {
  #top-10 .header-link {
    display: none;
    justify-content: space-evenly;
    margin-top: inherit;
  }
}
#top-10 .header-link-style {
  color: rgb(240, 227, 202);
  margin-right: 64px;
  text-decoration: none;
  font-size: small;
}
#top-10 .header-link-style1 {
  color: rgb(255, 131, 3);
  margin-right: 64px;
  text-decoration: none;
  font-size: small;
}
@media (max-width: 768px) {
  #top-10 .header-link-style1 {
    text-decoration: none;
    font-size: large;
    font-weight: 900;
    letter-spacing: 1px;
  }
}
@media (max-width: 575px) {
  #top-10 .header-link-style1 {
    text-decoration: none;
    font-size: large;
    font-weight: 900;
    letter-spacing: 1px;
  }
}
@media (max-width: 768px) {
  #top-10 .header-link-style {
    text-decoration: none;
    font-size: large;
    font-weight: 900;
    letter-spacing: 1px;
  }
}
@media (max-width: 575px) {
  #top-10 .header-link-style {
    text-decoration: none;
    font-size: large;
    font-weight: 900;
    letter-spacing: 1px;
  }
}
#top-10 .section-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  #top-10 .section-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  #top-10 .section-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 9em;
  }
}
#top-10 .section-1-end {
  color: rgb(240, 227, 202);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  letter-spacing: 3px;
}
@media (max-width: 768px) {
  #top-10 .section-1-end {
    margin: 60px 80px 0px 90px;
  }
}
@media (max-width: 575px) {
  #top-10 .section-1-end {
    display: flex;
    flex-direction: column;
  }
}
#top-10 .section-1-end-txt {
  text-wrap: balance;
  text-align: justify;
}
@media (max-width: 575px) {
  #top-10 .section-1-end-txt {
    padding: 0px 50px 0px 11.6%;
    font-size: larger;
    letter-spacing: 3px;
  }
}
#top-10 .section-1-txt {
  width: 19.3%;
  margin-left: 9.8%;
}
@media (max-width: 768px) {
  #top-10 .section-1-txt {
    width: auto;
    margin-left: 0%;
  }
}
@media (max-width: 575px) {
  #top-10 .section-1-txt {
    width: auto;
    font-size: xx-large;
    font-weight: 900;
    letter-spacing: 2px;
    margin-left: 19.7%;
  }
}
#top-10 .section-1-txt-title {
  color: #FF8303;
  font-size: 46.9px;
  font-weight: 900;
}
#top-10 .section-1-txt-title2 {
  color: #F0E3CA;
  font-size: x-large;
  font-weight: 700;
}
#top-10 .section-1-txt-title3 {
  color: #F0E3CA;
}
@media (max-width: 575px) {
  #top-10 .section-1-txt-title3 {
    text-wrap: pretty;
  }
}
#top-10 .section-1-image1 {
  margin-top: 32.5px;
  width: 38.1%;
  margin-right: 8em;
}
@media (max-width: 768px) {
  #top-10 .section-1-image1 {
    width: 100%;
    margin-right: 0px;
    display: contents;
  }
}
@media (max-width: 575px) {
  #top-10 .section-1-image1 {
    width: 100%;
    margin-right: 0px;
    display: contents;
  }
}
#top-10 .section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
#top-10 .section-2-title {
  color: rgb(255, 131, 3);
  letter-spacing: 3px;
}
@media (max-width: 768px) {
  #top-10 .section-2-title {
    display: none;
  }
}
@media (max-width: 768px) {
  #top-10 .section-2-title-img {
    display: none;
  }
}
#top-10 .section-2-title-img1 {
  display: none;
}
@media (max-width: 768px) {
  #top-10 .section-2-title-img1 {
    display: block;
  }
}
@media (max-width: 575px) {
  #top-10 .section-2-title-img1 {
    display: none;
  }
}
#top-10 .section-2-title-img2 {
  display: none;
}
@media (max-width: 768px) {
  #top-10 .section-2-title-img2 {
    display: none;
  }
}
@media (max-width: 575px) {
  #top-10 .section-2-title-img2 {
    display: block;
  }
}
#top-10 .section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}
@media (max-width: 768px) {
  #top-10 .section-3-image {
    justify-content: center;
    display: inline-grid;
  }
}
@media (max-width: 768px) {
  #top-10 .section-3-img {
    width: 50vh;
  }
}
#top-10 .section-3-title {
  color: rgb(255, 131, 3);
  letter-spacing: 2px;
}
#top-10 .footer {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  align-items: center;
}
@media (max-width: 768px) {
  #top-10 .footer {
    display: flex;
    flex-direction: column;
  }
}
#top-10 .footer-txt {
  display: flex;
  margin-right: 3%;
  flex-direction: column;
  align-items: baseline;
  margin-bottom: 3%;
}
@media (max-width: 768px) {
  #top-10 .footer-txt {
    margin-left: 90.8px;
  }
}
#top-10 .footer-txt1 {
  color: rgb(240, 227, 202);
}
@media (max-width: 575px) {
  #top-10 .footer-txt1 {
    letter-spacing: 3px;
  }
}
#top-10 .footer-image {
  margin-bottom: 20%;
}
#top-10 .footer-link {
  margin-left: 31.2px;
}
@media (max-width: 575px) {
  #top-10 .footer-link {
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  #top-10 .footer-link {
    text-align: center;
  }
}
#top-10 .footer-link-gnrl {
  display: flex;
  flex-direction: row;
}
@media (max-width: 575px) {
  #top-10 .footer-link-gnrl {
    display: flex;
    flex-direction: column;
    font-size: x-large;
  }
}
#top-10 .footer-link-1 {
  display: flex;
  flex-direction: column;
}
#top-10 .footer-link-2 {
  display: flex;
  flex-direction: column;
}
#top-10 .footer-link-title {
  color: rgb(255, 131, 3);
}
#top-10 .footer-link-txt {
  padding: 20px;
  color: rgb(255, 131, 3);
}
#top-10 .footer-link-txt-img {
  display: flex;
  align-items: center;
  margin: 0px 20px 20px 0px;
}/*# sourceMappingURL=style.css.map */